html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f1f3;
}

#main {
  height: 600px;
  width: 650px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0 0 5px silver;
}

#main div,
#main span {
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* labels */
span,
input,
button {
  box-sizing: border-box;
  font-size: 18px;
  /* border: 1px solid black; */
}

/* rows */
#main > div {
  width: 100%;
  /* border: 1px solid black; */
}

/* Icon */
#main > .iconRow {
  height: 300px;
}

#main > .iconRow > .cavasContainer {
  height: 280px;
  width: 250px;
  box-shadow: 0 0 5px silver;
}
#main > .iconRow > .cavasContainer > span {
  width: 100%;
  height: 30px;
  text-decoration: silver underline 2px;
  text-underline-offset: 3px;
  /* border: 1px solid black; */
}

#main > .iconRow > .cavasContainer > div {
  width: 250px;
  height: 250px;
  /* border: 1px solid black; */
}

#main > .iconRow > .cavasContainer > div > #canvas {
  border: 2px dashed lightseagreen;
}

/* Source */
#main > .sourceRow {
  height: 65px;
  width: 500px;
}
#main > .sourceRow > .sourceContainer {
  width: 550px;
  height: 90%;
  justify-content: space-around;
  /* border: 1px solid black; */
}

#main > .sourceRow > .sourceContainer > div {
  position: relative;
  width: 550px;
  flex-direction: row;
  overflow: hidden;
}
#main > .sourceRow > .sourceContainer > div > input {
  display: inline-block;
  text-align: center;
  width: 550px;
}
#main > .sourceRow > .sourceContainer > div > button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  left: 95.5%;
  height: 80%;
  width: 4%;
  padding: 0 1px;
  outline: none;
}

/* Details */
#main > .detailRow {
  height: 160px;
  width: 650px;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 0;
}

/* colums */
#main > .detailRow > .col {
  height: 100%;
  width: 33%;
  justify-content: space-around;
  position: relative;
  /* border: 1px solid black; */
}

#main > .detailRow > .col:nth-of-type(2) {
  box-shadow: 6px 0 10px -12px silver, -6px 0 10px -12px silver;
}

/* rows */
#main > .detailRow > .col > div {
  height: 50%;
  justify-content: center;
}
#main > .detailRow > .col > div:nth-of-type(1) {
  box-shadow: 0px 2px 2px -2px silver;
}

#main > .detailRow > .col > .colorContainer > input {
  margin-top: 3px;
  width: 80%;
  /* border: 1px solid black; */
}

/* Buttons */
#main > .buttonRow {
  height: 40px;
}

#main > .buttonRow > .buttonContainer > button {
  transition: 200ms ease;
}

#main > .buttonRow > .buttonContainer > button:focus {
  transform: scale(0.95);
}
